<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="logo" [src]="logo"></ion-img>
    <ion-title class="time_title">{{"TIME.TIME_LABEL" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-label class="text">
        {{'TIME.LATITUDE_LABEL' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'TIME.LATITUDE_HOLDER' | translate}}" [(ngModel)]="latitud"></ion-input>
    </ion-col>
    <ion-col>
      <ion-label class="text">
        {{'TIME.LONGITUDE_LABEL' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'TIME.LATITUDE_HOLDER' | translate}}" [(ngModel)]="longitud"></ion-input>
    </ion-col>
  </ion-row>
  <ion-button ion-button (click)="get_weather()">
    <ion-icon name="log-in"></ion-icon>
    {{'TIME.SEND_LABEL' | translate}}
  </ion-button>
  <app-paint></app-paint>
</ion-content>
